# ignored file when package to source.tgz
.gitattributes export-ignore
.gitignore export-ignore
.asf.yaml export-ignore
.licenserc.yaml export-ignore

# ignored directory
.github/ export-ignore
computer/computer-k8s-operator/crd-generate/bin/ export-ignore
computer/computer-dist/scripts/ export-ignore
computer/computer-dist/release-docs/ export-ignore
