resources:
  - etcd_server.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
  - name: etcd
    newName: quay.io/coreos/etcd
    newTag: v3.5.0
commonLabels:
  app.kubernetes.io/name: hugegraph-computer-operator-etcd
  app.kubernetes.io/version: v1
