name: "license checker"

on:
  push:
    branches:
      - master
      - /^release-.*$/
  pull_request:

defaults:
  run:
    working-directory: computer

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-license-header:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # More info could refer to: https://github.com/apache/skywalking-eyes
      - name: Check License Header
        uses: apache/skywalking-eyes@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          log: info
          config: .licenserc.yaml

      - uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: License check(RAT)
        run: |
          mvn apache-rat:check -ntp
          find ./ -name rat.txt -print0 | xargs -0 -I file cat file > merged-rat.txt
          grep "Binaries" merged-rat.txt -C 3 && cat merged-rat.txt

  check-dependency-license:
    runs-on: ubuntu-latest
    env:
      SCRIPT_DEPENDENCY: computer-dist/scripts/dependency
      USE_STAGE: 'true' # Whether to include the stage repository.
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Use staged maven repo settings
        if: ${{ env.USE_STAGE == 'true' }}
        run: |
          cp $HOME/.m2/settings.xml /tmp/settings.xml
          mv -vf .github/configs/settings.xml $HOME/.m2/settings.xml
      - name: Compile install
        run: mvn install -DskipTests=true -ntp
      - name: Generate & check current 3rd-party dependencies
        run: |
          bash $SCRIPT_DEPENDENCY/regenerate_known_dependencies.sh current-dependencies.txt
          cat $SCRIPT_DEPENDENCY/current-dependencies.txt
          bash $SCRIPT_DEPENDENCY/check_dependencies.sh
